<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ifome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IFome">
        <activity android:name=".files.activity.CardapioActivity"
            android:parentActivityName=".files.activity.HomeActivity"></activity>
        <activity
            android:name=".files.activity.ConfiguracoesUsuarioActivity"
            android:parentActivityName=".files.activity.HomeActivity" />
        <activity
            android:name=".files.activity.NovoProdutoEmpresaActivity"
            android:parentActivityName=".files.activity.EmpresaActivity" />
        <activity
            android:name=".files.activity.ConfiguracoesEmpresaActivity"
            android:parentActivityName=".files.activity.EmpresaActivity" />
        <activity android:name=".files.activity.EmpresaActivity" />
        <activity android:name=".files.activity.HomeActivity" />
        <activity android:name=".files.activity.AutenticacaoActivity" />
        <activity android:name=".files.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>